
a {
  cursor: pointer;
}

html,
body {
  font-family: 'Gill Sans', 'Times New Roman';
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#app {
  font-family: 'Gill Sans MT'
}

#project-header {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 40px;
  height: 40px;
  /* margin-bottom: 5px; */
  /* background-color: #8dd5b3; */
  background-color: #923124;
  opacity: 0.9;
  color: white;
  /* border-bottom: solid black 2px; */
}

.flex {
  display: flex;
}

#main-content {
  display: flex;
  justify-content: space-evenly;
}

.flex-down {
  display: flex;
  flex-direction: column;
}

#slide-detail {
  flex-shrink: 2;
  display: flex;
  justify-content: start;
  width: 300px;
  min-width: 300px;
  border-right: thin solid black;
  height: 700px;
  padding: 10px;
  font-size: 16px;
}

 
#slide-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#filters {
  display: flex;
  justify-content: center;
  font-size: 18;
}


.drop-title {
  min-width: 200px;
  border: 2px solid black;
}

.drop-title #year-dropdown {
  min-width: 150px;
  color: red;
}


#map-budget {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  align-items: center;
  border-bottom: 1px solid black;

}

.progress-dot {
  height: 20px;
  width: 20px;
  background-color: cornflowerblue;
  display: inline-block;
  margin: 2px;
}

#prev {
  min-width: 40px;
}

#next {
  min-width: 40px;
  margin-left: 5px;
}

#filters div{
  min-width: 100px;
}





