a {
  cursor: pointer;
}

html,
body {
  font-family: 'Gill Sans', 'Times New Roman';
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#app {
  font-family: 'Gill Sans MT'
}

#project-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  height: 50px;
  background-color: #923124;
  color: white;
}

.flex {
  display: flex;
}

#main-content {
  display: flex;
  justify-content: space-evenly;
}

.flex-down {
  display: flex;
  flex-direction: column;
}

#slide-detail {
  flex-shrink: 3;
  display: flex;
  justify-content: start;
  max-width: 350px;
  border-right: thin solid black;
  max-height: 700px;
  padding: 10px;
  font-size: 16px;
}

#slide-content {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#filters {
  display: flex;
  justify-content: center;
  font-size: 18;
}

#map-budget {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  /* background-color: #ffffe0; */
  /* background-color: #efe2ba; */
  /* background-color: #eee2dc; */
  /* background-color: #f0dfd9; */
  /* background-color: #b8949e; */
  background-color:rgba(184, 148, 158, 0.5)
}


.progress-dot {
  height: 20px;
  width: 20px;
  background-color: cornflowerblue;
  display: inline-block;
  margin: 2px;
}

#prev {
  min-width: 35px;
}

#next {
  min-width: 35px;
  margin-left: 3px;
}

#filters div{
  min-width: 100px;
}

/* media rules for those smaller screens*/
@media only screen and (max-width: 1200px) {

  #slide-detail {
    max-width: 800px;
    align-items: center;
    max-height: 500px;
    border-right: 0px;
    border-bottom: 1px solid black;
  }

  #main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  #project-header {
    min-height: 80px;
    height: 80px;
  }

}